table{
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

td,tr,th{
    border-bottom: .75px solid black;
    border-right: .75px solid black;
}

td{
    text-align: right;
}

tfoot tr,tfoot th{
   border-bottom: 0px;
}
.btn{
    text-decoration: none;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size:13px;
    width:100px;
}
.btn:hover{
    background: white;
    color: darkred;
    border: 1px solid black;
    font-style: bold;
    font-size:13px;
}